 
/* Обнуление */
*, *::before, *::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul, ol, li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}
html, body {
   height: 100%;
   line-height: 1;
}
.body {
   font-size: 12px ;
   font-weight: 400;
   font-family: Rubik;
   color: #616161;
}
/*.................................................*/
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
/*.................................................*/
.main {
   flex: 1 1 auto;
}
[class*="__container"] {
   max-width: 1087px;
   margin: 0px auto;
   padding: 0px 15px;
}
/*...ПК......................*/
@media ( max-width: 1087px){
   [class*="__container"] {
       max-width: 970px;
  }
}
/*...Планшет............*/
@media ( max-width: 991.98px){
   [class*="__container"] {
       max-width: 750px;
  }
}
/*...Мобильный тел............*/
@media ( max-width: 767.98px){
   [class*="__container"] {
       max-width: none;
  }
}
@media ( max-width: 479.98px){
   .header__logo {
       flex: 0 0 40px;
       overflow: hidden;
  }
}
/*...header..............................................*/
.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50 ;
}
.header__container {
   display: flex;
   min-height: 114px;
   align-items: center;
}
.header__logo {
   position: relative;
   z-index: 5;
}
.header__menu {
   flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end;
}
.menu__list {
   display: flex;
}
.menu__item {
   margin: 0px 40px 0px 0px;
}
.menu__link {
   font-family: Raleway;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1.5px;
   color: #000000;
}
.menu__link:hover{
   text-decoration: underline;
}
.header__button {
   position: relative;
   z-index: 5;
   flex: 0 0 252px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.button {
   display: inline-block;
   font-family: Raleway;
   font-weight: 800;
   text-transform: uppercase;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 1.5px;
   color: #FCFDFE;
   padding: 14px 30px;
   background-color: #EC5863;
   border-radius: 5px;
   transition: background-color 0.3s ease 0s;
}
.button:hover{
   background-color: #ca444d;
}
.button_blue {
   background: #4285F4;
}
.button_blue:hover {
   background: #2861bc;
}
@media ( max-width: 991.98px){
   .header__container {
       min-height: 80px;
  }
   .header__button {
       flex: 0 0 170px;
  }
   .menu__item {
       margin: 0px 30px 0px 0px 
  }
}
@media (max-width: 767.98px ) {
   .menu__body {
       position: fixed;
       top: 0;
       left: -100%;
       width: 100%;
       height: 100%;
       overflow: auto;
       background-color: rgb(243, 238, 238) ;
       padding: 90px 15px 30px 15px;
       transition: left 0.3s ease 0s;
  }
   .header:target .menu__body {
       left: 0;
  }
   .header:target .menu__body::before {
       content: "";
       background-color: #fff;
       position: fixed;
       top: 0;
       left: 0;
       height: 80px;
       width: 100%;
  }
   .header__button .button{
       padding: 14px 20px;
  }
   .menu__list{
       flex-direction: column;
       justify-content: center;
       align-items: center;
  }
   .menu__item {
       margin: 0px 0px 25px 0px;
  }
   .menu__item:last-child {
       margin: 0px 0px 0px 0px;
  }
   .menu__link {
       font-size: 20px;
  }
}
/*...burger..............................................*/
.close-icon-menu, .icon-menu{
   display: none;
}
@media ( max-width: 767.98px) {
   .icon-menu {
       display: flex;
       position: relative;
       flex: 0 0 30px;
       height: 18px;
       flex-direction: column;
       justify-content: space-between;
       margin: 0px 0px 0px 20px 
  }
   .icon-menu::before, .icon-menu::after {
       content: "";
       background-color: #000000;
       height: 2px;
  }
   .icon-menu span {
       background-color: #000000;
       height: 2px;
  }
   .close-icon-menu{
       flex: 0 0 30px;
       height: 30px;
       position: relative;
  }
   .close-icon-menu::before, .close-icon-menu::after{
       content: "";
       position: absolute;
       top: 50%;
       left: 0;
       width: 100%;
       background-color: #000000;
       height: 2px;
  }
   .close-icon-menu::before {
       transform: rotate(45deg);
  }
   .close-icon-menu::after {
       transform: rotate(-45deg);
  }
   .header:target .icon-menu {
       display: none;
  }
   .header:target .close-icon-menu{
       display: flex;
  }
}
/*........block-text.............................................*/
.block-text {
}
.block-text__center{
   text-align: center;
}
.block-text__title {
   font-family: 'Rubik';
   font-weight: 700;
   font-size: 44px;
   line-height: 126%;
   color: #000000;
}
.block-text__title:not(:last-child){
   margin: 0px 0px 12px 0px;
}
.block-text__title span{
   color: #EC5863;
}
.block-text__title_blue span {
   color: #4285F4;
}
.block-text__text {
   line-height: 138.5%;
   letter-spacing: 1px;
   color: #616161;
   align-items: ;
}
.block-text__text_mw {
   max-width: 620px;
   margin: 0 auto;
}
.block-text__text:not(:last-child){
   margin: 0px 0px 24px 0px;
}
.block-text__button {
}
@media (max-width: 767.98px){
   .block-text__title {
       font-size: 34px;
  }
}
/*.......get-started.............................................*/
.get-started {
   background-color: #FAFBFD;
}
.get-started__container {
   padding: 160px 15px 50px 15px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   position: relative;
}
.get-started__content::before{
   content: "";
   position: absolute;
   width: 100vw;
   height: 100%;
   right: 267px;
   top: 0;
   transform: translate(100%, 0px);
   background-color: #EC5863;
   border-radius: 30px 0px 0px 30px;
}
.get-started__content {
   flex: 0 1 48%;
   padding: 0px 20px;
}
.get-started__block-text {
   max-width: 410px;
}
.get-started__video {
   flex: 1 1 100%;
   padding: 60px 0px 0px 20px 
}
.get-started__image {
   flex: 0 1 52%;
   position: relative;
   z-index: 2;
}
.get-started__image img{
   max-width: 100%;
}
.video-get-started {
   display: inline-flex;
   align-items: center;
}
.video-get-started__icon {
   flex: 0 0 44px;
}
.video-get-started__body {
   padding: 0px 0px 0px 12px;
}
.video-get-started__title:not(:last-child){
   margin: 0px 0px 5px 0px 
}
.video-get-started__title {
   font-size: 13px;
   line-height: 126%;
   letter-spacing: 0.08em;
   color: #B0B0B0;
}
.video-get-started__text {
   font-size: 9px;
   line-height: 126%;
   letter-spacing: 0.165em;
   text-transform: uppercase;
   color: #000000;
}
@media (max-width: 991.98px) {
   .get-started__content::before{
       right: 185px;
       border-radius: 20px 0px 0px 20px;
  }
}
@media (max-width: 767.98px) {
   .get-started__content::before{
       display: none;
  }
   .get-started__block-text {
       max-width: none;
  }
   .get-started__content{
       flex: 1 1 100%;
       padding: 0px;
  }
   .get-started__container {
       padding: 100px 15px 30px 15px;
  }
   .get-started__image{
       flex: 1 1 100%;
       text-align: center;
       padding: 30px 0px;
  }
   .get-started__video {
       padding: 0px;
  }
}
/*.......stay-safe............................................*/
.stay-safe {
   padding: 80px 0px;
}
.stay-safe__container {
   display: flex;
   align-items: center;
}
.stay-safe__media {
   flex: 0 1 50%;
}
.stay-safe__content {
   flex: 0 1 50%;
}
.media-stay-safe {
   width: 373px;
   padding: 56px 0px 27px 0px;
   text-align: center;
   position: relative;
}
.media-stay-safe__image {
   display: inline-block;
   border-radius: 16px;
   box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12 );
   position: relative;
   width: 61.5%;
}
.media-stay-safe__image img{
   position: relative;
   z-index: 2;
   max-width: 100%;
}
.media-stay-safe__image::after{
   content: "";
   position: absolute;
   bottom: -12px;
   left: 12px;
   width: 206px;
   height: 27px;
   background: rgba(240, 240, 240, 0.49);
   border-radius: 16px;
   z-index: 2;
}
.media-stay-safe__item {
   position: absolute;
   background: #EC5863;
   border-radius: 30px;
   width: 77px;
   height: 77px;
}
.media-stay-safe__item_1 {
   top:0;
   left: 0;
   width: 147px;
   height: 147px;
}
.media-stay-safe__item_2 {
   bottom: 0;
   left: 32px;
}
.media-stay-safe__item_3 {
   bottom: 107px;
   right: 34px;
}
@media (max-width: 991.98px) {
   .stay-safe {
       padding: 40px 0px;
  }
}
@media (min-width: 991.98px) {
   .stay-safe {
       padding: 30px 0px;
  }
   .stay-safe__media{
       padding: 0px 0px 0px 47px;
  }
}
@media (max-width: 767.98px){
   .stay-safe__container{
       flex-direction: column-reverse;
  }
   .stay-safe__content{
       margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 479.98px){
   .media-stay-safe{
       width: 290px;
  }
}
/*.......experts...........................................*/
.experts {
   background-color: #FAFBFD;
   padding: 103px 0px 116px 0px;
}
.experts__container {
}
.experts__statistics {
}
.experts__block-text{
   max-width: 400px;
}
.statistics-experts {
   max-width: 655px;
   margin: 0px auto;
   position: relative;
}
.experts__body{
   display: flex;
   align-items: center;
}
.experts__content{
   flex: 0 1 50%;
   padding: 0px 20px 0px 0px;
}
.experts__video {
   flex: 0 1 50%;
   padding: 0px 0px 30% 0px;
   position: relative;
}
.experts__video iframe{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   border-radius: 8px;
}
@media (max-width: 767.98px){
   .experts {
       padding: 80px 0px 30px 0px;
  }
   .experts__body{
       align-items: stretch;
       flex-direction: column;
  }
   .experts__video{
       padding: 0px 0px 58% 0px;
  }
   .experts__content{
       padding: 0px 0px 0px 0px;
       margin-bottom: 30px;
  }
}
.statistics-experts__body {
   background-color: #FFFFFF;
   border-radius: 16px;
   box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   position: relative;
   z-index: 2;
   margin: 0px 0px 80px 0px;
}
.statistics-experts__decor {
   position: absolute;
   background: #EC5863;
   border-radius: 30px;
}
.statistics-experts__decor_1 {
   width: 65px;
   height: 65px;
   transform: rotate(-30deg);
   bottom: -21px;
   left: -21px;
   border-radius: 16px;
}
.statistics-experts__decor_2 {
   width: 97px;
   height: 97px;
   transform: rotate(105deg);
   right: 50%;
   top: -40px;
   border-radius: 30px;
}
.statistics-experts__decor_3{
   width: 128px;
   height: 128px;
   top: 0px;
   right: -50px;
   background: #EC5863;
   border-radius: 30px;
   transform: rotate(-30deg);
}
.body-statistics-experts {
   padding: 23px 80px;
   display: flex;
   align-items: center;
   text-align: center;
}
.body-statistics-experts__item {
   flex: 1 1 25%;
}
.body-statistics-experts__item:last-child{
   flex: 1 1 50%;
}
.body-statistics-experts__value {
   font-family: 'Rubik';
   font-weight: 700;
   color: #EC5863;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 1px;
   margin-bottom: 5px;
}
.body-statistics-experts__text {
   font-family: 'Rubik';
   font-weight: 700;
   font-size: 11px;
   line-height: 2;
   letter-spacing: 4px;
   text-transform: uppercase;
   color: #000000;
}
@media (max-width: 767.98px) {
   .statistics-experts__body{
       margin: 0px 0px 50px 0px;
  }
   .body-statistics-experts {
       padding: 25px;
  }
}
@media (max-width: 479.98px){
   .body-statistics-experts {
       flex-direction: column;
  }
   .body-statistics-experts__item:not(:last-child){
       margin: 0px 0px 15px 0px;
  }
}
/*.......healthcary...........................................*/
.healthcary {
   padding: 80px 0px 30px 0px;
}
.healthcary__container {
}
.healthcary__block-text {
   margin: 0px 0px 45px 0px;
}
.healthcary__items {
   display: flex;
}
.healthcary__column{
   position: relative;
   padding: 0px 36px;
   flex: 0 1 33.333%;
}
.healthcary__item {
}
.item-healthcary {
   position: relative;
   height: 100%;
   z-index: 2;
   background: #FFFFFF;
   box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 36px 17px;
}
.item-healthcary__icon {
   margin: 0px 0px 58px 0px;
}
.item-healthcary__title {
   font-weight: 700;
   font-size: 16px;
   line-height: 138.5%;
   color: #000000;
   margin: 0px 0px 4px 0px;
}
.item-healthcary__text {
   font-size: 12px;
   line-height: 138.5%;
   color: #616161;
}
.healthcary__column_1::before, .healthcary__column_1::after{
   content: "";
   position: absolute;
   background-color: #EC5863;
   border-radius: 16px;
}
.healthcary__column_1::before{
   width: 65px;
   height: 65px;
   bottom: -35px;
   left: 15px;
   transform: rotate(-30deg);
}
.healthcary__column_1::after{
   width: 97px;
   height: 97px;
   top: 35px;
   right: -10px;
   border-radius: 30px;
   transform: rotate(30deg);
}
.healthcary__column_2::after{
   content: "";
   position: absolute;
   background-color: #EC5863;
   width: 127px;
   height: 127px;
   bottom: -35px;
   right: -40px;
   border-radius: 30px;
   transform: rotate(67deg);
}
.healthcary__column_3::after{
   content: "";
   position: absolute;
   background-color: #EC5863;
   width: 65px;
   height: 65px;
   top: -35px;
   right: 15px;
   border-radius: 16px;
   transform: rotate(60deg);
}
@media (max-width: 1087px){
   .healthcary__column{
       padding: 0px 16px;
  }
}
@media (max-width: 991.08px){
   .healthcary {
       padding: 30px 0px 30px 0px;
  }
   .healthcary__items {
       flex-direction: column;
  }
   .healthcary__column:not(:last-child){
       margin: 0px 0px 20px 0px;
  }
}
/*.......footer...........................................*/
.footer {
   padding: 45px 0px 45px 0px;
}
.footer__container {
   display: flex;
   justify-content: center;
}
.footer__items {
   display: flex;
   gap:56px;
   justify-content: center;
   align-items: center;
}
.footer__item{
}
@media (max-width: 500px){
   .footer {
       padding: 30px 0px;
  }
   .footer__items{
       flex-direction: column;
       gap: 25px;
  }
}

.product__footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   }

@media (min-width: 769px) {
   .products {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
   }
   .product{
      width: 32%;
   }
   .product:nth-child(3n+2) {
      margin-left: 2%;
      margin-right: 2%;
   }

}
.product__footer {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
@media (min-width: 769px) {
   .products {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
  }
   .product {
      width: 32%;
  }
   .product:nth-child(3n + 2) {
      margin-left: 2%;
      margin-right: 2%;
  }
}


